*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'dogFont';
  src: url('../src/multimedia/RetroVintage-Regular.otf')
}
@font-face {
  font-family: 'infoFont';
  src: url('../src/multimedia/RADEON-Light.otf')
}
.app{
  background-color: rgb(246, 241, 233);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #FF8400;
  border: 2px rgb(79, 32, 13) solid;
  border-radius: 5px; /* Bordes redondeados */
}


::-webkit-scrollbar-track {
  background-color: #F6F1E9;
  border-left: 2px rgb(79, 32, 13) solid;
}
